[Unit]
Description=All in one Mirakurun & Chinachu
Requires=docker.service
After=docker.service network.target
Conflicts=shutdown.target reboot.target halt.target

[Service]
Type=simple
RemainAfterExit=yes
Restart=on-failure
WorkingDirectory=/opt/plex_chinachu/
ExecStart=/usr/bin/docker-compose up -d
ExecStop=/usr/bin/docker-compose stop

[Install]
WantedBy=default.target
